@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bebas+Neue&family=Maven+Pro:wght@400;500&family=Roboto+Slab:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Seymour+One&display=swap');

/* ================================ font-family: 'Baloo 2', cursive; font-family: 'Bebas Neue', cursive; font-family: 'Maven Pro', sans-serif; font-family: 'Baloo 2', cursive; font-family: 'Bebas Neue', cursive; font-family: 'Maven Pro', sans-serif; font-family: 'Roboto Slab', serif; font-family: 'Comfortaa', cursive; font-family: 'Seymour One', sans-serif; Root files and basic accessories */
:root {
  --secound: rgb(205, 20, 20);
  --third: #003333;
  --main-color: linear-gradient(45deg, rgb(205, 20, 20), rgb(245, 216, 154));
  --blue: #4486FF;
  --box-shadow: 1px 1px 20px rgba(66, 68, 90, .2);
}

* {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
}

*::selection {
  background: var(--blue);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* --------basic decoration--------- */
a {
  text-decoration: none;
}

.btn {
  padding: 1rem;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(45deg, rgb(225, 36, 36), rgb(255, 190, 48));
  font-size: 1.4rem;
  color: #fff;
  transition: .6s;
  font-family: 'Comfortaa', cursive;
}

.btn:hover {
  background: var(--blue);
  /* border: 2px solid var(--blue); */
  border-radius: 30px;
  color: #fff;
  /* color: var(--blue); */
}

.home-btn {
  background: transparent;
  border: 2px solid rgb(220, 147, 147);
  background: -webkit-linear-gradient(45deg, rgb(225, 36, 36), rgb(237, 227, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 30px;
}

.home-btn:hover {
  /* background: #fff; */
  background: -webkit-linear-gradient(rgb(225, 36, 36), rgb(237, 227, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: ;
}

.heading {
  font-family: 'Comfortaa', cursive;
  font-size: 4rem;
  color: var(--blue);
  text-align: center;
  padding: 0 1rem;
  padding-top: 6rem;
  letter-spacing: 1.3px;
  font-weight: 500;
}

.title {
  font-family: 'Comfortaa', cursive;
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: #aaa;
}

/* title given on every section starting */
.green {
  color: rgb(18, 177, 42);
}

.image-size {
  width: 100%;
  height: 20rem;
}

/* Navigation bar */
header {
  width: 85%;
  position: fixed;
  background: linear-gradient(45deg, rgb(205, 20, 20), rgb(245, 216, 154));
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: .2s;
}

.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: rgb(251, 251, 251);
  transition: .2s;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Maven Pro', sans-serif;
  transition: .5s ease;
}

header .navbar ul li a:hover {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
  padding-bottom: 2px;
  font-size: 2.2rem;
}

header .navbar ul li .active {
  padding: 5px 10px;
  border-radius: 5px;
}

/* Mauli college logo */
header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  letter-spacing: 1.3px;
}

header .logo img {
  border-radius: 50%;
  width: 15%;
  height: 15%;
}

/* Header section Navigation bar logo */
header .fa-bars {
  font-size: 3rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
  transition: .2s;
}

.home {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/home.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
}

/* Ignite introduction */
.ignite-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.ignite-intro h3 {
  /* text-shadow: -7px .1px rgb(152, 64, 64); */
  font-size: 10rem;
  /* letter-spacing: 1rem; */
  text-align: center;
  font-weight: 900;
  background: -webkit-linear-gradient(rgb(225, 36, 36), rgb(237, 227, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Comfortaa', cursive;
}

.ignite-intro p {
  background: -webkit-linear-gradient(45deg, rgb(225, 36, 36), rgb(237, 227, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Comfortaa', cursive;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

/* Event cards strts here */
.event-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20%;
  display: flex;
  font-family: 'Comfortaa', cursive;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
  border-radius: 5px;
  margin: 2%;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card .event-detail {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  /* background: linear-gradient(45deg, rgb(205, 20, 20), rgb(245, 216, 154)); */
}

.event-detail h3 {
  font-size: 1.5rem;
  letter-spacing: .6px;
  text-transform: capitalize;
  /* font-family: 'Baloo 2', cursive; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.event-detail p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  color: black;
}

.event-detail p i {
  color: #4486FF;
  margin-right: .5rem;
}

.card-title {
  text-align: center;
  padding: 10px;
}

/* ======================= Governing Body section ==========================  */
.gov-body {
  min-height: 60vh;
  width: 100%;
  margin: 2rem 0;
  background: linear-gradient(45deg, rgb(225, 36, 36), rgb(202, 127, 127));
  display: flex;
  align-items: center;
  justify-content: center;
}

.gov-body .gov-body-box {
  width: 80%;
  margin: 0 auto;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.gov-body .gov-body-box .gov-body-cards {
  padding: 1rem;
  border: .1px solid aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  font-size: 1.3rem;
  transition: .4s ease;
}

.gov-body .gov-body-box .gov-body-cards:hover {
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(243, 123, 123);
  transform: scale(1.08);
}

.gov-body-cards img {
  width: 100%;
}

.gov-body-cards h3,
b,
p {
  letter-spacing: 1px;
  font-family: 'Comfortaa', cursive;
  color: aliceblue;
}

.gov-body-cards h3 {
  font-size: 1.2rem;
}

.gov-body-cards b {
  font-size: 1.5rem;
}

.sponsor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  height: 50vh;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}

.sponsor-container img {
  width: 100%;
  border-radius: .1rem;
  overflow: auto;
  box-shadow: var(--box-shadow);
  border-radius: .06rem;
}

/* Our media Section */
.media-partner {
  min-height: 50vh;
  background: linear-gradient(45deg, rgb(225, 36, 36), rgb(202, 127, 127));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.media-partner img {
  width: 30%;
}

/* contact us section */
.contact-us {
  height: 100vh;
  width: 100%;
  padding-top: 1rem;
  background: linear-gradient(45deg, rgb(225, 36, 36), rgb(202, 127, 127));
}

.contact-us .contact-container {
  width: 80%;
  height: 80%;
  margin: 5% auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.contact-container .google-map,
.contact-container .reach-us {
  width: 50%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

.reach-us {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
  padding: 2rem;
  box-shadow: none;
}

.reach-us h5 {
  font-size: 2rem;
  font-family: 'Comfortaa', cursive;
}

.reach-us .address,
.reach-us .phone-no {
  line-height: 3rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 2rem;
}

.reach-us .fa-solid {
  font-size: 3rem;
  margin-right: 1rem;
}

/*============================== Contact No Of all members =============================== */
.contact-box {
  height: 50vh;
  width: 100%;
}

.contact-us .contact-no {
  width: 80%;
  margin: 0 auto;
}

.contact-no {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.contact-no .phone-no-per {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2rem;
  border-radius: 100px;
  background-color: var(--blue);
  /* width: 35%; */
  color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.phone-no-per p {
  font-size: 1.7rem;
  line-height: 2.5rem;
}

.phone-no-per .fa-solid {
  padding: 2rem;
  margin-right: 1rem;
  border-radius: 50%;
  background: var(--main-color);
  color: white;
}

.container {
  position: relative;
}

/*========================================= GALLARY section starts here ======================================== */
.gallery {
  min-height: 100vh;
}

.gallery .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.gallery .box-container .box {
  height: 20rem;
  width: 30rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Footer strts Here */
/* Last Year Video */
.last-year-video {
  background: linear-gradient(45deg, rgb(225, 36, 36), rgb(202, 127, 127));
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-year-video .video {
  border-radius: 30px;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  transition: 1s ease;
}

.last-year-video .video a {
  color: white;
}

.last-year-video .video:hover {
  border: none;
  ;
  background-color: red;
}

.last-year-video .video:hover i {
  color: white;
}

.last-year-video .video:hover a {
  color: rgb(255, 255, 255);
}

.last-year-video .video a {
  text-decoration: none;
}

.last-year-video .video i {
  color: red;
}

.last-year-video .video i:hover {
  font-size: 2rem;
}

/* Social media icons with link */
.social-media-container {
  min-height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-container .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-media-container .social-media i {
  background: -webkit-linear-gradient(rgb(225, 36, 36), rgb(255, 174, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  height: 10rem;
  width: 100%;
}

/* @media screen and (max-device-width: 768px) {} */
@media (max-width: 572px) {
  .home .ignite-intro {
    max-width: 80%;
  }
}

@media (max-width: 846px) {
  header .fa-bars {
    display: block;
    color: #fff;
  }

  header .navbar {
    margin-top: ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: .2s linear;
    background: linear-gradient(45deg, rgba(205, 20, 20, .8745), rgba(245, 216, 154, .8876));
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
    gap: 3rem;
  }

  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  header .navbar ul li a {
    color: #ffffff;
    font-size: 2.3rem;
    display: block;
    font-family: 'Roboto Slab', serif;
  }

  header .navbar ul li a:hover {
    font-family: 'Comfortaa', cursive;
    padding: 5px 10px;
    border-radius: 5px;
  }

  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }

  html {
    font-size: 55%;
  }

  .heading {
    font-size: 2.4rem;
  }

  .home .ignite-intro h3 {
    font-size: 7rem;
  }

  .home .ignite-intro p {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  .title {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

  .main {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    width: 80%;
  }

  .event-detail {
    gap: 1.5rem;
  }

  .event-detail h3 {
    font-size: 1.6rem;
  }

  .event-detail p {
    font-size: 1.3rem;
  }

  .event-detail a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6rem;
  }

  /* governing body */
  .gov-body .gov-body-box {
    margin: 2rem 0;
    flex-wrap: wrap;
  }

  .sponsor-container {
    flex-wrap: wrap;
    gap: 1rem;
    background: transparent;
    overflow: scroll;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .sponsor-container img {
    width: 80%;
  }

  .contact-container {
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .contact-container .google-map,
  .contact-container .reach-us {
    width: 100%;
  }

  .reach-us {
    padding-top: 1rem;
    font-weight: 300;
  }

  .reach-us h5 {
    letter-spacing: 1px;
    font-weight: 600;
  }

  .reach-us .address,
  .phone-no {
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  .contact-us .captio<script></script>n-container {
    width: 90%;
  }

  .contact-us {
    height: 100vh;
  }

  .contact-box {
    height: 120vh;
  }

  .contact-no {
    width: 60%;
  }

  .phone-no-per {
    width: 100%;
  }
}